@model CheapAsChips.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    @*<div class="recipe-image" id="Image1"><img src="@Url.Action("RenderPhoto", new { photoId = Model.RecipeID })" /></div>*@
    @*<img src="data:image/jpg.base64, @Html.Raw(Convert.ToBase64String(Model.picture.imagedata))"  alt = "Nopic"/>*@

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainIngredient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainIngredient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfServings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfServings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spicy)
        </dd>
        <dt>
            @Html.DisplayNameFor(item => item.ingreds)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Ingredient</th>
                    <th>Qty</th>
                    <th>Unit</th>
                </tr>
                @foreach (var item in Model.ingreds)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name  )
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measure)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <div class="display-instructions">
            <dd>
                <table class="table">
                    <tr>
                        <th>Instruction</th>
                       
                    </tr>
                    @foreach (var item in Model.instructions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.myInstruction)
                            </td>
                           
                        </tr>
                    }
                </table>
            </dd>
            </div>

    </dl>
</div>
<p>
    @* creates an anonymous object letting us pass the recipeId *@
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
