@model CheapAsChips.Models.RecipeImage

@{
    ViewBag.Title = "RenderPhoto";
}

<h2>RenderPhoto</h2>

<div>
    <h4>RecipeImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagedata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagedata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
